<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta name="google" content="notranslate" />
   	<meta http-equiv="X-UA-Compatible" content="IE=edge">
   	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Laravel7の覚書 | ワクガンス</title>
	<link rel='shortcut icon' href='/home/images/favicon.ico' />
	
	<link href="/note_prg/css/bootstrap.min.css" rel="stylesheet">
	<link href="/note_prg/css/highlight/default.css" rel="stylesheet">
	<link href="/note_prg/css/common2.css" rel="stylesheet">
	<script src="/note_prg/js/jquery3.js"></script>	<!-- jquery-3.3.1.min.js -->
	<script src="/note_prg/js/bootstrap.min.js"></script>
	<script src="/note_prg/js/vue.min.js"></script>
	<script src="/note_prg/js/highlight.pack.js"></script>
	<script src="/note_prg/js/livipage.js"></script>
	<script src="/note_prg/js/ImgCompactK.js"></script>

	<script>hljs.initHighlightingOnLoad();</script>
</head>
<body>
<div id="header" ><h1>Laravel7の覚書 | ワクガンス</h1></div>
<div class="container">



<div id="sec5-1" class="sec4" >
	<h3>複数レコードのINSERT</h3>
	
	<pre><code>
namespace App&yen;Models;
use Illuminate&yen;Database&yen;Eloquent&yen;Model;

class Neko extends Model
{
	public $fillable = ['neko_name', 'neko_val']; // Laravel規定によるホワイトリスト
	
		/**
	 * 複数レコードのINSERT
	 * @param [] $data データ（エンティティの配列）
	 */
	public function insertAll($data){
		
		if(empty($data)) return;
		
		foreach($data as &amp;$ent){
			$ent = array_intersect_key($ent, array_flip($this-&gt;fillable)); // ホワイリストに存在しないフィールドを除外する
			unset($ent['id']);
		}
		unset($ent);

		$neko = $this-&gt;insert($data);
	}
	</code></pre>


	<br><time>2020-7-25</time>
</div>



<div id="sec5-2" class="sec4" >
	<h3>エンティティのINSERT</h3>
	
	<p>コントローラ内でinsertメソッドを使う場合</p>
	<aside>ルート/app/Http/Controllers/NekoController.php</aside>
	<pre><code>
	$neko = \App\Models\Neko::insert($ent);
	</code></pre>
	
	「$fillable」によるホワイトリストによるフィルタリングはなされないので注意。ホワイトリストの適用は自前で行うこと。<br>
	SQLインジェクション対策はできているようだ。エンティティの値にシングルクォートを生で入力しても不具合は起きない。<br>
	複数レコード（エンティティの配列）を引数すると、複数のレコードをまとめてINSERTすることができる。<br>
	<br>
	通常、INSERTはcreateメソッドを使うようことが多いようだが、何かと制約が厳しくエラーが多い。<br>
	個人的にはinsertメソッドの方が使いやすく感じる。<br>
	<br>
	レスポンス（返値）は、成功した場合、true。<br>
	<br>

	<p>トランザクション</p>
	insertメソッドはトランザクションも効く
	<pre><code>
	\DB::beginTransaction();
	$neko = \App\Models\Neko::insert($ent);
	\DB::rollback();
	</code></pre><br>
	
	<p>モデルクラス内でinsertメソッドを使う場合</p>
	<aside>ルート/app/Models/Neko.php</aside>
	<pre><code>$this->insert($data);</code></pre>

	<br><time>2020-7-25</time>
</div>



<div id="sec5-3" class="sec4" >
	<h3>DB: データ更新 | UPDATE | updateOrCreate</h3>
	
	<pre><code>
	$neko = &yen;App&yen;Models&yen;Neko::updateOrCreate(['id'=&gt;$ent['id']] ,$ent);
	</code></pre>
	<ul>
		<li>第一引数はWHERE条件である。</li>
		<li>トランザクションを適用可能。</li>
		<li>SQLインジェクション対策はされている。</li>
		<li>「$fillable」によるホワイトリストも適用されている。</li>
	</ul>

	<br><time>2020-7-26</time>
</div>



<div id="sec5-4" class="sec4" >
	<h3>DB: INSERTと同時に追加したレコードのidを取得する | insertGetId</h3>
	
	<aside>ルート/app/Models/Neko.php</aside>
	<pre><code>
	// ホワイトリストによるフィルタリング
	$ent = array_intersect_key($ent, array_flip($this-&gt;fillable));

	// INSERTおよびidを取得する
	$id = $this-&gt;<strong>insertGetId</strong>($ent);
	</code></pre><br>

	補足
	<ul>
		<li>引数は単一のエンティティのみ。insertメソッドのように複数のエンティティは受け付けない。</li>
		<li>insertメソッドと同様、ホワイトリストによるフィルタリングは自前で行うこと。</li>
	</ul>

	<br><time>2020-7-26</time>
</div>



<div id="sec5-5" class="sec4" >
	<h3>DB: 拡張DB保存 saveEntity | saveAll</h3>
	
	CakePHPのsaveメソッドとsaveAllメソッドを再現する。saveは既にLaravelに予約されているようなのでsaveEntityにする。<br>
	<br>
	
	<aside>下記メソッドはモデルクラスに記述する。例→/app/Models/Neko.php</aside>
	<pre><code>

	/**
	 * エンティティのDB保存
	 * @note エンティティのidが空ならINSERT, 空でないならUPDATEになる。
	 * @param [] $ent エンティティ
	 * @return [] エンティティ(insertされた場合、新idがセットされている）
	 */
	public function saveEntity(&amp;$ent){
		
		if(empty($ent['id'])){
			
			// ▽ idが空であればINSERTをする。
			$ent = array_intersect_key($ent, array_flip($this-&gt;fillable)); // ホワイトリストによるフィルタリング
			$id = $this-&gt;insertGetId($ent); // INSERT
			$ent['id'] = $id;
		}else{
			
			// ▽ idが空でなければUPDATEする。
			$ent = array_intersect_key($ent, array_flip($this-&gt;fillable)); // ホワイトリストによるフィルタリング
			$this-&gt;updateOrCreate(['id'=&gt;$ent['id']], $ent); // UPDATE
		}

		return $ent;
	}
	
	
	/**
	 * データのDB保存
	 * @param [] $data データ（エンティティの配列）
	 * @return [] データ(insertされた場合、新idがセットされている）
	 */
	public function <strong>saveAll</strong>(&amp;$data){
		
		$data2 = [];
		foreach($data as &amp;$ent){
			$data2[] = $this-&gt;saveEntity($ent);
			
		}
		unset($ent);
		return $data2;
	}
	
	
	/**
	 * 複数レコードのINSERT
	 * @param [] $data データ（エンティティの配列）
	 */
	public function insertAll($data){
		
		if(empty($data)) return;
		
		foreach($data as &amp;$ent){
			$ent = array_intersect_key($ent, array_flip($this-&gt;fillable));
			unset($ent['id']);
		}
		unset($ent);

		$this-&gt;insert($data);
		
		
	}
	</code></pre>


	<br><time>2020-7-28</time>
</div>



<div id="sec5-6" class="sec4" >
	<h3>DB: データ削除 | destroy | DELETE</h3>

	<aside>コントローラクラスにて検証。例→/app/Http/Controllers/NekoController.php</aside>
	<pre><code>
	$neko = new \App\Models\Neko();
	$neko->destroy(163);// idを指定して削除
	$neko->destroy([159, 160, 161]); // 複数のidを指定して削除
	</code></pre>

	<br><time>2020-7-28 | 2020-8-6</time>
</div>



<div id="sec5-7" class="sec4" >
	<h3>日本向け設定 | タイムゾーン（timezone） | ロケール</h3>
	
	ルートパス/config/app.php<br>
	<pre><code>
    'timezone' => 'Asia/Tokyo',

    /*
    |--------------------------------------------------------------------------
    | Application Locale Configuration
    |--------------------------------------------------------------------------
    |
    | The application locale determines the default locale that will be used
    | by the translation service provider. You are free to set this value
    | to any of the locales which will be supported by the application.
    |
    */

    'locale' => 'ja',

    /*
    |--------------------------------------------------------------------------
    | Application Fallback Locale
    |--------------------------------------------------------------------------
    |
    | The fallback locale determines the locale to use when the current one
    | is not available. You may change the value to correspond to any of
    | the language folders that are provided through your application.
    |
    */

    'fallback_locale' => 'ja',

    /*
    |--------------------------------------------------------------------------
    | Faker Locale
    |--------------------------------------------------------------------------
    |
    | This locale will be used by the Faker PHP library when generating fake
    | data for your database seeds. For example, this will be used to get
    | localized telephone numbers, street address information and more.
    |
    */

    'faker_locale' => 'ja_JP',
	</code></pre>


	<br><time>2020-8-4</time>
</div>



<div id="sec5-8" class="sec4" >
	<h3>Laravelのリダイレクト(シンプル版）</h3>
	
	コントローラクラスのアクションメソッドに以下を記述。<br>
	<pre>
	return redirect('neko/bark');
	</pre>

	<br><time>2020-7-25</time>
</div>



<div id="sec5-9" class="sec4" >
	<h3>ログインメニュー</h3>
	
	<aside>/resources/views/neko/index.blade.php</aside>
	<pre><code>
	&lt;!-- ログインメニュー --&gt;
	@if (Route::has('login'))
		&lt;div class="top-right links"&gt;
			@auth
				&lt;a href="{{ url('/home') }}" class="btn btn-info btn-sm"&gt;Home&lt;/a&gt;
			@else
				&lt;a href="{{ route('login') }}" class="btn btn-info btn-sm"&gt;ログイン&lt;/a&gt;

				@if (Route::has('register'))
					&lt;a href="{{ route('register') }}" class="btn btn-info btn-sm"&gt;登録&lt;/a&gt;
				@endif
			@endauth
		&lt;/div&gt;
	@endif
	</code></pre>
	
	<p>ログインメニューの例</p>
	<img src="img/laravel7_note5/sec5-9a1.png" alt="" />
	<aside>ボタン類にBootstrap4を適用している</aside>

	<br><time>2020-8-5</time>
</div>



<div id="sec5-0" class="sec4"  style="display:none">
	<h3>xxx</h3>


	<br><time>2020-7-25</time>
</div>


<div class="yohaku"></div>
<ol class="breadcrumb">
	<li><a href="/">ホーム</a></li>
	<li><a href="/note_prg">プログラミングの覚書</a></li>
	<li><a href="/note_prg/js/">JavaScriptの覚書</a></li>
	<li>Laravel7の覚書</li>
</ol>
</div><!-- content -->
<div id="footer">(C) kenji uehara 2020-7-3</div>
</body>
</html>